<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greenhood_walk_back_left_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{32,60}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{32,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{28,58}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{28,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{22,60}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,3},{22,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{26,58}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{26,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{32,58}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{32,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{28,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{28,54}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{24,60}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{24,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>greenhood_walk_back_left_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,2},{30,60}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{30,60}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walk.png</string>
            <key>size</key>
            <string>{240,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e55bc6c2f9d52324c9ee06551090607:16e579d125f5967f10cdf97454a8ecad:ee5a53230c137d81fadb9a88e71d34b6$</string>
            <key>textureFileName</key>
            <string>walk.png</string>
        </dict>
    </dict>
</plist>
